
.sa-text-muted {
    color: var(--sa-text-muted);
}
.sa-text-success {
    color: var(--sa-text-success);
}

.sa-appointments-wrapper {
    margin-top: 20px;
    padding: 10px;
}
.sa-appointments-wrapper .sa-container {
    margin-top: 15px;
}
.sa-appointments-wrapper .sa-page-title {
    border-bottom: 2px solid var(--sa-theme-primary);
    height: 35px;
}
.sa-appointments-wrapper .sa-page-title h3 {
    display: inline;
    font-size: 20px;
    padding: 10px 15px;
    background: var(--sa-theme-primary);
    color: #FFF;
    position: relative;
}
.sa-appointments-wrapper .sa-page-title h3::after {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    border: 22px solid var(--sa-theme-primary);
    border-top-color: transparent;
    border-right-color: transparent;
}
.sa-d-flex-center {
    display: inline-flex;
    align-items: center;
}
.sa-text-primary {
    color: var(--sa-theme-primary);
}
.sa-highlight {
    font-size: 28px;
    color: #266150;
}
.sa-card {
    box-shadow: var(--sa-box-shadow);
    border-radius: 10px;
}
.sa-bb-1 {
    border-bottom: 1px solid var(--sa-border-color);
}
.sa-flex-1 {
    flex: 1;
}
.sa-btn {
    background-color: var(--sa-theme-primary);
    color: #FFF;
    border-color: var(--sa-theme-primary);
    min-width: 90px;
    font-size: 16px;
}
.sa-btn:hover {
    background-color: rgba(var(--sa-theme-primary-rgb), 0.9);
}
a.sa-btn:hover {
    color: #FFF;
    text-decoration: none;
}
.sa-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.sa-btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}
.sa-btn-danger {
    background-color: #DC3545;
    border-color: #DC3545;
}
.sa-btn-danger:hover {
    color: #FFF;
    background-color: #BB2D3B;
    border-color: #BB2D3B;
}
.sa-btn-icon {
    display: flex;
    min-width: 32px;
}
.sa-btn-icon svg,
.sa-btn-icon:hover svg {
    fill: #FFF;
}
.sa-btn-outline {
    background-color: transparent;
}
.sa-btn-outline svg {
    fill: var(--sa-theme-primary);
}
.sa-icon-btn {
    background-color: transparent;
    border: 0;
}
.sa-icon-btn svg {
    fill: var(--sa-theme-primary);
}
.sa-shortcode {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #E8E9EA;
    color: var(--sa-theme-primary);
}
.sa-shortcode-copy {
    font-size: 25px;
}
.sa-pointer {
    cursor: pointer;
}
.sa-tooltip {
    display: none;
    position: absolute;
    padding: 5px 10px;
    color: #FFF;
    background-color: var(--sa-theme-primary);
    border: 1px solid #777; 
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.35);
    border-radius: 3px;
}
.sa-tooltip::after {
    content: '';
    position: absolute;
    left: 45%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--sa-theme-primary);
}
.sa-time-slot {
    padding: 6px 5px;
    max-width: 75px;
    border-radius: 4px;
    background-color: #D3D9DF;
    cursor: pointer;
}
.sa-time-slot.checked {
    padding: 1px 0;
    background-color: #0D6EFD;
}
.sa-time-slot .sa-form-check-input {
    width: 20px;
    height: 20px;
    pointer-events: none;
    margin: 0;
}
.sa-time-slot.checked .sa-form-check-input {
    width: 30px;
    height: 30px;
}
.sa-form-check-input:checked::before {
    content: "" !important;
}
#sa-timeslots-table-wrapper {
    display: inline-block;
    width: 760px;
    max-height: 650px;
    overflow: scroll;
}
#sa-timeslots-table {
    width: 750px;
    max-width: 750px;
    border-collapse: separate;
    border-spacing: 0;
}
#sa-timeslots-table th {
    position: sticky;
    top: 0;
    background-color: #FFF;
}
#sa-timeslots-table tr th:first-child {
    width: 120px;
    z-index: 5;
    border: 1px solid rgb(222, 226, 230);
}
#sa-timeslots-table tr th:not(:first-child) {
    width: 90px;
    text-align: center;
    border: 1px solid rgb(222, 226, 230);
    border-left: 0;
    border-right: 0;
}
#sa-timeslots-table tr td:first-child {
    border: 1px solid rgb(222, 226, 230);
    border-top: 0;
    background-color: #FFF;
}
#sa-timeslots-table tr:last-child td:not(:first-child) {
    border-bottom: 1px solid rgb(222, 226, 230);
}
#sa-timeslots-table tr th:last-child,
#sa-timeslots-table tr td:last-child {
    border-right: 1px solid rgb(222, 226, 230);
}
#sa-timeslots-table tr th:first-child,
#sa-timeslots-table tr td:first-child {
    position: sticky;
    left: 0;
}

/* .sa-section  */
.sa-section {
    border: 1px solid rgba(0,0,0,.125);
}
.sa-section:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.sa-section:not(:first-of-type) {
    border-top: 0;
}
.sa-section:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sa-section-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.sa-section:not(.collapsed) .sa-section-header {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.sa-section-title {
    font-size: 20px;
    flex: 1;
}
.sa-section-sub-title {
    font-size: 16px;
    color: #4E575F;
}
.sa-section-body {
    padding: 20px;
}
.sa-section.collapsed .sa-section-body {
    display: none;
}
.sa-notifications-section .sa-section-body {
    background-color: #F7F7FC;
}
/* END: .sa-section  */

/* Notifications  */
.sa-notification {
    box-shadow: var(--sa-box-shadow);
    background-color: #FFF;
    border-radius: 12px;
}
.sa-notification:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 10px;
}
.sa-notification-header {
    display: flex;
    padding: 7px 12px;
    align-items: center;
    cursor: pointer;
}
.sa-notification-header h4 {
    flex: 1;
}
.sa-notification-status {
    color: var(--sa-text-muted);
}
.sa-notification-status.active {
    color: var(--sa-text-success);
}
.sa-notification-status:not(.active) .sa-active-icon,
.sa-notification-status.active .sa-inactive-icon {
    display: none;
}
.sa-active-icon {
    fill: var(--sa-text-success);
}
.sa-inactive-icon {
    fill: var(--sa-text-muted);
}
.sa-notification:not(.collapsed) .sa-notification-header {
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.sa-notification-content {
    padding: 7px 12px;
    font-size: 16px;
}
.sa-notification-input-area {
    display: flex;
    align-items: center;
    color: var(--sa-text-muted);
    padding: 7px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--sa-border-color);
}
.sa-notification-input {
    flex: 1;
    padding: 0 10px !important;
    margin: 0 !important;
    border: 0 !important;
}
.sa-notification-input:focus {
    border: 0 !important;
    box-shadow: none !important;
}
.sa-notification-body {
    padding-top: 10px;
}
.sa-notification-body textarea {
    border: 0;
}
.sa-notification-footer {
    padding: 15px;
    background-color: #F7F7FC;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.sa-notification:last-of-type .sa-notification-footer {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.sa-notification.collapsed .sa-notification-content,
.sa-notification.collapsed .sa-notification-footer {
    display: none;
}
.sa-notification:not(.collapsed) .sa-notification-header {
    background-color: var(--sa-theme-primary);
    color: #FFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.sa-notification:not(.collapsed) .sa-notification-header svg {
    fill: #FFF;
}
.sa-notification:not(.collapsed) .sa-notification-status {
    color: #FFF;
}
/* END: Notifications  */

/* Notification active switch */
input.sa-active-input {
    width: 1px;
    min-width: 1px;
    height: 1px;
    min-height: 1px;
    position: absolute;
    opacity: 0;
}
.sa-active-switch {
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 60px;
    align-items: center;
}
.sa-active-switch-indicator {
    height: 24px;
    width: 24px;
    background: var(--sa-text-muted);
    border-radius: 50%;
    margin-left: 2px;
    transition: 0.3s;
}
.sa-active-switch-indicator svg {
    opacity: 0;
    fill: #FFF;
}
input.sa-active-input:checked + .sa-active-switch .sa-active-switch-indicator {
    background: #388E3C;
    transform: translateX(30px);
}
input.sa-active-input:checked + .sa-active-switch .sa-active-switch-indicator svg {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
/* END: Notification active switch */

.sa-dropdown-item svg {
    transform: scale(0.75);
    vertical-align: middle;
}
.sa-status {
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bold;
}
.sa-status-pending {
    background-color: #F8D749;
    color: #000;
}
.sa-status-confirmed {
    background-color: var(--sa-text-success);
    color: #FFF;
}
.sa-status-cancelled {
    background-color: var(--sa-text-danger);
    color: #FFF;
}

/* Appointments Listing Table */
.sa-appointments-list-table-wrapper {
    background-color: #F6F7F9;
    padding: 5px 15px 25px;
}
.sa-appointments-list-table-wrapper table {
    border-collapse: separate;
    background-color: #F6F7F9;
    border-spacing: 0 10px;
    border: 0;
}
.sa-appointments-list-table-wrapper table tfoot {
    display: none;
}
.sa-appointments-list-table-wrapper table tr {
    background-color: #FFF !important;
    /*box-shadow: rgb(99 99 99 / 10%) 0px 2px 8px 0px;*/
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 7px;
}
.sa-appointments-list-table-wrapper table tbody tr:hover {
    box-shadow: 0px 2px 7px rgb(0 0 0 / 10%), 0 0px 7px rgb(0 0 0 / 20%);
}
.sa-appointments-list-table-wrapper table tr>*:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.sa-appointments-list-table-wrapper table tr>*:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.sa-appointments-list-table-wrapper table thead tr {
    background-color: #F6F7F9 !important;
    box-shadow: none;
}
.sa-appointments-list-table-wrapper table thead th,
.sa-appointments-list-table-wrapper table thead td {
    border: 0;
    font-weight: 700;
}
.sa-appointments-list-table-wrapper table thead th:last-child {
    width: 90px;
}
.sa-appointments-list-table-wrapper table th.check-column {
    padding: 12px 2px;
    vertical-align: middle;
}
.sa-appointments-list-table-wrapper table tr td {
    padding: 12px 8px;
    vertical-align: middle;
}
.sa-appointments-list-table-wrapper .tablenav select {
    margin: 0;
    margin-right: 6px;
}
.sa-appointments-list-table-wrapper .pagination-links input {
    width: 30px;
    padding: 0 8px;
}
.sa-appointments-list-filter {
    padding: 12px 15px;
    background-color: #FFF;
    box-shadow: var(--sa-box-shadow);
    border-radius: 7px;
}
/* END: Appointments Listing Table */

/* Single Appointment */
.sa-single-appointment {
    font-size: 15px;
}
.sa-single-appointment-highlight {
    align-items: center;
    padding: 0px 8px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.sa-single-appointment-highlight span {
    font-size: 15px;
    font-weight: normal;
}
.sa-single-appointment-highlight>div {
    padding: 7px 10px;
}
.sa-single-appointment-highlight div:first-child {
    background-color: var(--sa-theme-primary);
    text-align: center;
    border-radius: 4px;
    display: inline-flex;
    height: 42px;
    align-items: center;
}
.sa-single-appointment-highlight div:first-child svg {
    fill: #FFF;
}
.sa-single-appointment-contact .sa-form-label {
    display: inline-block;
    width: 115px;
}
.sa-single-appointment-sidebar .sa-btn {
    width: 100%;
    max-width: 320px;
    margin: auto;
}
.sa-appointment-activities::before {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - 40px);
    background-color: rgba(var(--sa-theme-primary-rgb), 0.65);
    left: 18px;
    top: 0;
}
.sa-appointment-activity-icon {
    background-color: var(--sa-theme-primary);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
    z-index: 9;
}
.sa-appointment-activity-icon svg {
    fill: #FFF;
}
.sa-appointment-activity-text {
    border:  1px solid var(--sa-border-color);
    border-left: 3px solid var(--sa-theme-primary);
    padding: 5px 7px;
    border-radius: 4px;
}
/* END: Single Appointment */

/* Settings */
.sa-setting-sidebar {
    border: 1px solid var(--sa-border-color);
    border-radius: 5px;
}
.sa-setting-menu {
    border-bottom: 1px solid var(--sa-border-color);
}
.sa-setting-menu:hover {
    cursor: pointer;
    background-color: #F3F6FD;
}
.sa-setting-menu.active {
    background-color: #F3F6FD;
}
.sa-setting-section {
    display: none;
    box-shadow: var(--sa-box-shadow);
    border: 1px solid var(--sa-border-color);
    border-radius: 8px;
}
.sa-setting-section.active {
    display: block;
}
.sa-setting-section>h4 {
    border-bottom: 1px solid var(--sa-border-color);
}
/* END: Settings */